root = true

[*.{ts,js}]
insert_final_newline = true
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
indent_size = 4
indent_style = space

[*.json]
insert_final_newline = true
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
indent_size = 2
indent_style = space